Options -Indexes
<FilesMatch "^\.env($|\.)">
  Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule (^|/)\.git(/|$) - [F,NC]
  RewriteRule ^tests(?:/|$) - [F,NC]
</IfModule>
